@charset "UTF-8";

:root{
    --fonte-destaque:'Sriracha', cursive;
    --fonte-body:'Passion One', cursive;
}

* {
    margin: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');



html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    font-family: var(--fonte-destaque);
}

section.imagem{
    background-color: brown;
    color: white;
}

section.imagem > p{
    background-color: black;
    width: 400px;
    font-family: var(--fonte-body);
}


footer{
    background-color: black;
    color: white;
    padding: 10px;

}

